<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957181762313-kf2b5du72qm3d194hill21q66k6n4hq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957181762313-kf2b5du72qm3d194hill21q66k6n4hq2</string>
	<key>API_KEY</key>
	<string>AIzaSyCChOUKzKyzO8YwlfpQTJYv1KWUXExiHT4</string>
	<key>GCM_SENDER_ID</key>
	<string>957181762313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.units</string>
	<key>PROJECT_ID</key>
	<string>sleepproject-62ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepproject-62ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957181762313:ios:4366a922ae056989f091d8</string>
</dict>
</plist>